body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcf8ec;
}
.vide {
    margin-left: 9%;
}

ozel_ic {
    font-size: 30px !important;
}

.üst {
    height: 80px;
    width: 100%;
    background-color: #79a3b1;
    margin: 2px 0px;
    display: flex;
    justify-content: space-around;
    position: fixed;
}

.logo {
    margin-top: -20px;
}

.logo img {
    height: 135px;
}

.menu {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background: #79a3b1;
    float: right;
    margin-right: 10%;
}

.menu ul {
    display: block;
    margin: 0;
    text-align: right;
    padding: 0
}

.menu ul li {
    list-style: none;
    display: inline-block;
    margin: 0px;
    padding: 5px;
}

.menu ul li a {
    display: block;
    background: #79a3b1;
    color: #000;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    font-family: Arial;
    transition: 0.5s;
}

.menu ul li a:hover {
    background: #456268;
    border-radius: 19px;
    color: #fff;
}

.menu ul li ul {
    display: none;
    position: absolute;
    width: 150px;
    margin-top: 0px;
}

.menu ul li ul li {
    display: block;
}

.menu ul li ul li a {
    background: #79a3b1;
    text-align: center;
}

.menu ul li ul li a:hover {
    background: #456268;
}

.menu ul li:hover ul {
    display: block;
}

.baslik {
    color: #456268;
}

.orta-alan {
    display: flex;
    width: 95%;
    justify-content: space-around;
}

.orta {
    width: 22%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 2% 0;
    box-sizing: border-box;
    background: #d0e8f2;
    transition: 0.5s;
}

.orta:hover {
    transform: scale(1.2);
    z-index: 2;
}

.orta a {
    text-decoration: none;
}

.orta .içerik {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.orta img {
    width: 70%;
}
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #d0e8f2;
}

::-webkit-scrollbar-thumb {
    background: #79a3b1;
    border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
    background: #456268;
    ;
    border-radius: 17px;
}

@media only screen and (max-width:992px) {
    .orta-alan {
        flex-wrap: wrap;
    }
    .orta {
        width: 48%;
    }
    .orta img {
        width: 40%;
    }
    .menu ul li a {
        font-size: 14px;
    }
}

@media only screen and (max-width:790px) {
    .üst {
        height: 280px;
        background-color: #fcf8ec;
        position: relative;
    }
    .üst .logo {
        display: none;
    }
    .orta {
        width: 95%;
    }
    .menu {
        display: none;
    }
}